@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qhot20');
  src:  url('fonts/icomoon.eot?qhot20#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qhot20') format('truetype'),
    url('fonts/icomoon.woff?qhot20') format('woff'),
    url('fonts/icomoon.svg?qhot20#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-compass:before {
  content: "\e949";
}
.icon-compass2:before {
  content: "\e94a";
}
.icon-user:before {
  content: "\e971";
}
.icon-key:before {
  content: "\e98d";
}
.icon-enter:before {
  content: "\ea13";
}
